/node_modules/

/public/build/

/public/about/
/public/blog/
/public/book/
/public/cookies/
/public/error/
/public/index/
/public/privacy-and-security/
/public/publications/
/public/read/
/public/poem/
/public/video/

.DS_Store

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
